<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="guestbook.css">
</head>
<body class="container">
<header>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">The BAND!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/"><span class="glyphicon glyphicon-home"></span>    Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/about"><span class="glyphicon glyphicon-user"></span>   About</a></li>
            <li><a href="/pickit"><span class="glyphicon glyphicon-music"></span>    Pick it</a></li>
            <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span>   Contact</a></li>
            <li class="active"><a href="/guestbook"><span class="glyphicon glyphicon-book"></span>   Guestbook</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
<h1>
<span class = "EB">Guestbook</span>
<a id="wr" href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>