/*.cl1:hover, .cl2:hover{
    border: 1px solid #000000;
}*/

#Tweet a{
		display: block;
}
#Tweet{
	position:fixed;
	bottom:50px;
	right:50px;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 6px;
	box-shadow: 2px 2px 6px;
}

.myForm {
    width: 50%;
}
.site{
	font-size: 10%;
	font-style: italic;
	color:#fff;
	margin-left:50px; 
}
body
{
	background-image: url("../Images/guitar.jpg");
	background-color: #676363; 
	
}
#orderP{
	/*position: absolute;
	top:100px;
	left:300px;*/
}
#orderP table{
	/*margin-left: 0%;*/
	background-color: #ffffff;
	border-radius: 1px;
	box-shadow: 2px 2px 6px;
	/*padding: 0px;*/
}

.pBox{
	text-align: center;
}
.pBox img{
	width: 60%;
}
.pBox span{
	font-size: 100%;
    font-family: fantasy;
}
#ordr{
    width: 17%;
	height: 4%;
	background: #000;
	color: #ffffff;
	font-size: 18px;
	margin-left: 79%;
	border-radius: 6px;
	cursor: pointer;
}
label{
	color: #44201e;
	font-style: italic;
	font-size: 19px;
	
}
h4{
	color:#fff;
	text-shadow: 2px 1px 4px #212121;
	font-style: italic;
	font-size: 200%;
	letter-spacing:2px;
	/*display:block;
    margin-top:1px;
    letter-spacing:1px;
    color: #ffffff;
    font-style: italic;
    font-size: 200%;*/
}
#demo,h3,#ttlPrc{
	margin-top: 0%;
	display:block;
    letter-spacing:1px;
    color:#44201e;
    font-style: italic;
    font-size: 150%;
	margin: 3%;
	border-radius: 5px;
	padding: 0.2%;
	border: 1px solid #000;
	background-color: #ffffff;
}
#prfpic{
	width: 100%;
	margin-bottom: 100%;
	border-radius: 100px;
	float: left;
    /*max-width: 160px;*/
    margin: 0;
    padding: 1em;
}
#bio{
	text-align: center;
	font-size: 150%;
	color: #000000;
	font-style: italic;
	font-family: "Comic Sans MS", cursive, sans-serif;

}
#intro{
	font-size: 120%;
	color: #44201e;
	font-style: italic;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.abt{
	background:rgba(255, 255, 255, 0.7);
	/*background-color: transparent;*/
	border-radius: 4px;
}
#E{
	color: #ffffff;
	text-align: center;
	width: 600px;
	margin: 0 auto;
	background-color: #262d24;
	font-family: "cursive";
	font-size: 20px;
	height: 30px
}
#Video{
	margin-top:10%;
	margin-left: 50px;
	width: 100%;
}
#intro1{
	font-size: 200%;
	text-shadow: 100px;
	color: #44201e;
	font-style: italic;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#end{
	font-size: 150%;
	color: #fff;
	font-style: italic;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	background-color: #262d24;
}
footer{
	position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10px;
    padding: 1.1%;
    background-color: #47494a;
    text-align: center;
    border-top: 1px dotted #ffffff;
    color: #cfcfcf;
}
#quote{
	font-size: 150%;
	text-shadow: 100px;
	color: #fff;
	font-style: italic;
	font-family: "Comic Sans MS", cursive, sans-serif;

}